*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100dvh;
    font-family: 'Inter', sans-serif;
    background: #0B0F16;
    color: whitesmoke;
    /*padding-inline: 16px;*/
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}


/*===============================================================
                         TOP SECTION
================================================================*/

/*--------------------NAV BAR---------------------------------*/

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.hamburger-menu {
    /*padding: 16px;*/
    font-size: 24px;
    cursor: pointer;
}

.EdgeTracker-logo {
    width: 108px;
}
.EdgeTracker-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.card-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 12px;
  color: white; 
  border: 1px solid #2A3441;
  border-radius: 16px;
  padding: 4px 16px;
}

.dot-online {
  width: 6px;
  height: 6px;
  background-color: #22C55E; 
  border-radius: 50%;
  display: inline-block;
}

.notification-bell {
    font-size: 24px;
}





nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding-inline: 16px;*/
    /*gap: 16px;*/
    padding-bottom: 22px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;

    padding-bottom: max(10px, env(safe-area-inset-bottom));
}

nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.nav-text {
    font-size: 12px;
}

.create-btn {
    background: #22C55E;
    width: 100%;
    max-width: 64px;
    height: 64px;
    padding: 24px;
    border-radius: 100px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn {
    width: 100%;
    max-width: 74px;
    height: 64px;
    padding: 5px 18px;
    font-size: 24px;
}





/* ==========================================
   2. DESKTOP RESPONSIVE STYLES
   ========================================== */
@media (min-width: 768px) {

    body > * {
    display: none !important;
    }
  
  /* Pushes bottom nav back up to a top desktop header 
  nav {
    position: static;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
  }

  /* Swapping content grids from 1 column to multi-column 
  .dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
  } 
  */
}